<h1>TodoList#delete</h1>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects delete">
  <h2>Delete todolist</h2>

  <%= form_for(:todolist, :url => {:action => 'destroy', :id => @todolist.id}) do |f| %>

    <p>Are you sure you want to permanently delete this todo List?</p>

    <p class="reference-name"><%= @todolist.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete TodoList") %>
    </div>

  <% end %>
</div>
